
body {
  font-family: Fertigo;
}

a {
  margin: 10px;
}

a, a:visited{
  color: blue;
}

a.active {
  color: red;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px auto 100px auto;
    cursor: pointer;

}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #e7e7e7; color: black;} /* Gray */
.button5 {background-color: #555555;} /* Black */


.wrapperHome {
  #margin: 1%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 7px;
  grid-auto-rows: minmax(70px, auto);
#  height: auto;
#  min-height: 100% ;
  height: 900px;
  grid-template-rows: 7em 1fr 1fr 4em;
  border-style: double;
}

.online{
  color: black;
  font-size: 110%;
}

.offline {
  color: gray;
  font-size: 90%;
}

.HomeCardImage {
  width: 30px;
  height: 30px;
}

.cardDate {
  font-size: 50%;
}

.verticalStrip {position:fixed; top:0; left:0; width:20px; background-color:grey; height:100%;}

.cardContent {
    font-size: 120%;
    font-family: "Times New Roman", Times, serif;
}

.cardName {
  font-size: 90%;
  transition: opacity 2s ease-in;
}

.YouTubeLink {
  font-size: 60%;
  transition: opacity 2s ease-in;
}

.HomeStatusBar {
  border-radius: 5px;
  grid-row: 1 ;
  grid-column: 2/9;
  #border-style: ridge;
  background-color: rgb(235,245,245);
}

.HomeStatusBar:Hover {
  background-color: rgb(135,245,245);
  }

.HomeTeam {
  border-radius: 5px;
  grid-row: 1 / 6;
  grid-column: 1;
  #border-style: ridge;
  background-color: rgb(215,245,245);
}

.HomeTeam:Hover{
  background-color: rgb(115,245,245);
}


.HomeTools {
  border-radius: 5px;
  grid-row: 6 / 10;
  grid-column: 1;
  #border-style: ridge;
  background-color: rgb(215,245,245);
}

.HomeTools:Hover{
  background-color: rgb(115,245,245);
}

.HomeOnline {
  border-radius: 5px;
  grid-row: 2/ 5;
  grid-column: 2/4;
  #border-style: ridge;
  background-color: lightblue;
  overflow-y: scroll;
}

.HomeOnline:Hover{
  background-color: rgb(115,245,245);
}



.HomeChannels {
  border-radius: 5px;
  grid-row: 5 / 10;
  grid-column: 2/4;
  #border-style: ridge;
  background-color: lightgray;
  overflow-y: scroll;
}

.HomeChannels:Hover{
  background-color: rgb(115,245,245);
}



.HomeWorkBench {
  border-radius: 5px;
  grid-row: 2 / 9;
  grid-column: 4/9;
  #border-style: ridge;
  overflow: auto;
  background-color: rgb(240,240,240);
}

.HomeWorkBench:Hover{
  background-color: white;
}


.HomeAssets {
  border-radius: 5px;
  grid-row: 1 / 10;
  grid-column: 9/10;
  #border-style: ridge;
  overflow: auto;
  background-color: rgb(248,245,240);
}

.HomeAssets:Hover{
  background-color: rgb(115,245,245);
}



.HomeInput {
  border-radius: 5px;
  grid-row: 9 / 10;
  grid-column: 4/9;
  #border-style: ridge;
  background-color: lightcyan;
}



.HomeInput:Hover{
  background-color: rgb(115,245,245);
}



.HomeCurrentUser {
padding: 12px;
}

.wrapperSettings {
  margin: 5%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(70px, auto);
  height: 700px;
}

.channelList {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.ChannelInput {
  border-radius: 5px;
  grid-row: 9 / 10;
  grid-column: 4/9;
  #border-style: ridge;
  background-color: lightgray;
}


.teamList {
    list-style-type: none;
    margin: 10px;
    padding: 10px;

}

.onlineList {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.onlineLi:Hover {
background-color: lightgray;
}


.channelHash {
padding: 5px;
font-weight: bold;
font-size: 150%;
}

.channelLi:Hover {
background-color: lightgray;
}

.HomeChannelPlus{
#font-weight: bold;
font-size: 200%;
}

.teamStar {
color: red;
font-weight: bold;
font-size: 120%;
}

.settings {
  border-radius: 5px;
  grid-row: 1 / 10;
  grid-column: 1;
  border-style: ridge;
}


.drop_zoneSettings {
  border: 5px solid blue;
  width:  200px;
  height: 100px;
}

.w3-panel{
  margin-left: 32px;
  padding:0.01em 32px;
  margin-top:16px;
  margin-bottom:16px
}

.HomeInfo {
padding: 12px;
color: rgb(150,150,150);
}

.WorkBenchInfo {
padding: 12px;
color: rgb(150,150,150);
 z-index:1000;
 position:sticky;
 background-color: inherit;
 width: 50%;
 overflow: hidden;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0;  } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn 1s ease-in 0s 1 normal forwards;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn 1s ease-in 0s 1 normal forwards;
    animation:fadeIn 1s ease-in 0s 1 normal forwards;
}

.fade-in.one {
    -webkit-animation-delay: 0.7s ;
  }

.fade-in.home {
    -webkit-animation-delay: 10
}





.w3-left{float:left!important}.w3-right{float:right!important}
.w3-circle{border-radius:50%}
.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}
.w3-card-4 {
  word-break: break-all;
#  backgroundcolor: white;
  border-radius: 5px;
  width: 60%;
  background-color: rgba(0,0,0,0);
#  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
}

.w3-card-4:hover{
 background-color: rgba(0,0,0,.03);
}
.w3-img {
  padding: 16px;
  width:40px;
   height: 40px}
.w3-badge {
  background-color: rgb(240,0,0);
  color:black;
  display:inline-block;
  padding-left:8px;
  padding-right:8px;
  text-align:center;
  border-radius:50%;
  font-size: 80%;
  margin: 15px;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(10px, auto);
}

.online {
  border-radius: 5px;
  grid-row: 1 / 4;
  grid-column: 1/2;
}

.lVideo {
  border-radius: 5px;
  grid-row: 1 / 4;
  grid-column: 2/3;
}

.rVideo {
  border-radius: 5px;
  grid-row: 1 / 4;
  grid-column: 3/4;
}

.iWindow {
  border-radius: 10px;
  grid-row: 4/4;
  grid-column: 2/4;
  overflow: auto;
}

.cWindow {
  border-radius: 10px;
  grid-row: 5/6;
  grid-column: 2/4;
  overflow: auto;
}



.cButtons {
  border-radius: 10px;
  grid-row: 6/7;
  grid-column: 2/4;
}

/*
ul {
    list-style-image: url('/images/onacci.png');
}
*/

input[type=text], input[type=password] {
    border-radius: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    border-radius: 5px;
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 25%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    /* position: fixed;  Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(1,0,0,0); /* Black w/ opacity */
    padding-top: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}
